 div {font-family:Georgia,Times New Roman, Times, Serif; font-size:14px;  color:#FFFFFF; } 
  .headline {font-size:24px;}
  .item {font-size:18px; margin-left:15px; }
  


 a {font-family:Georgia,Times New Roman, Times, Serif; font-size:14px; color:#990000;}
 .primary {font-size:20px;  color:#FFFFFF; } 
 .secondary {font-size:14px;  color:#FFFFFF; } 
 .black {font-size:18px; color:#990000;}
